<!DOCTYPE html>
<html>
<head>
    <title>Webgames</title>
    <meta charset=utf-8>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
    <link rel=stylesheet type=text/css href="/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer type=text/javascript src="http://underscorejs.org/underscore-min.js"></script>
    <script defer type=text/javascript src="/assets/main.js"></script>
</head>
<body>
    <header id="header">
        <figure>
            <a id="logo" href="/"><img src="/assets/logo.png"></a>
        </figure>
        <h1>WebGames</h1>
        <nav>
            <ul>
                <a href="/signup" class="signup-button"><li>Sign up</li></a>
                <a href="/signin" class="signin-button"><li>Sign in</li></a>
                <a href="/profile" hidden><li>Profile</li></a>
                <a href="/signout" hidden><li>Sign out</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <section id=games>
            <article id="Bomberman">
                <figure>
                    <img src="/assets/games/Bomberman.png">
                </figure>
                <header>
                    <h2>Bomberman</h2>
                    <input type=button value="Play !">
                </header>
                <p class=description>Join the arena and fight against others players using your bombs and powerups !</p>
                <p class=statistics>Playing right now: <output>4</output>. In queue: <output>3</output> / <output>4</output></p>
            </article>
            <article id="RobotWar">
                <figure>
                    <img src="/assets/games/RobotWar.png">
                </figure>
                <header>
                    <h2>RobotWar</h2>
                    <input type=button value="Play !">
                </header>
                <p>The World War III is declared ! The machine are taking controle of the world ! Join the battlefield to stop their progression !</p>
                <p>Playing right now: <output>18</output>. In queue: <output>5</output> / <output>6</output></p>
            </article>
            {% for game in games %}
            <article id="{{ game.name }}">
                <figure>
                    <img src="/assets/games/{{ game.name }}/logo.png">
                </figure>
                <header>
                    <h2>{{ game.name }}</h2>
                    <input type=button {% if not game.enabled %}disabled{% endif %} value="Play !">
                </header>
                <p>{{ game.description }}</p>
                <p>Playing right now: <output>{{ game.playing }}</output>. In queue: <output>{{ game.inqueue }}</output> / <output>{{ game.players_required }}</output></p>
            </article>
            {% endfor %}
        </section>
        <div class="signup-form-container">
            <form class="signup-form">
                <div class="username">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name="pseudo" placeholder="nom d'utilisateur">
                </div>
                <div class="email">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="email" name="email" placeholder="e-mail...">
                </div>
                <div class="password">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" name="password" placeholder="mot de passe">
                </div>
                <div class="password-confirmation">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" name="password-confirmation" placeholder="confirmation de mot de passe">
                </div>
                <div class="form-buttons">
                    <button tabindex="0" type="submit" class="signup-form-button basic-button">S'enregistrer</button>
                    <button class="cancel-form-signup-button basic-button">Annuler</button>
                </div>            
            </form>
        </div>

        <div class="signin-form-container">
            <form class="signin-form">
                <div class="username">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name="pseudo" placeholder="nom d'utilisateur ou e-mail">
                </div>
                <div class="password">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" name="password" placeholder="mot de passe">
                </div>
                <div class="form-buttons">
                    <button class="signin-form-button basic-button" type="submit">Se connecter</button>
                    <button class="cancel-form-signin-button basic-button">Annuler</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <p>Développé par <a href="https://wwww.github.com/Julien00859">Julien Castiaux</a> avec l'aide des 2TI et du Salon des Devs</p>
        <p>Code source disponible sur <a href="https://wwww.github.com/Julien00859/WebGames">GitHub</a></p>
    </footer>
</body>
</html>
