# Secret configuration
.env
nginx/conf.d/*.conf

# Virtual Environements
webapi/venv/
manager/venv/

# Editors
.vscode/

# Python cached compiled files
manager/__pycache__
manager/*.pyc
webapi/auth/__pycache__
webapi/auth/*.pyv
webapi/queues/__pycache__
webapi/queues/*.pyv
webapi/games/__pycache__
webapi/games/*.pyv

