# Secret configuration
.env
nginx/conf.d/*.conf

# Virtual Environements
manager/venv/
webapi/venv/

# Editors
.vscode/

# Python cached compiled files
manager/__pycache__
manager/*.pyc
webapi/__pycache__
webapi/*.pyv

