server {
	server_name api.webgames.ephec-ti.be;

	{{ if exists "/etc/letsencrypt/live/api.webgames.ephec-ti.be" }}
		listen 443 ssl;
		ssl_certificate /etc/letsencrypt/live/api.webgames.ephec-ti.be/fullchain.pem;
		ssl_certificate_key /etc/letsencrypt/live/api.webgames.ephec-ti.be/privkey.pem;
	{{ else }}
		listen 80;
	{{ end }}

	location / {
		proxy_set_header Host $http_host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_pass http://webapi:5000;
	}
}
