{% extends "base.html" %}
{% block main %}
  <article>
    <figure>
      <img src="/static/logo.png" style="filter: invert(100%);">
    </figure>
    <h2><a href="/games/">RobotWar&nbsp;<div class="arrow"></div></a></h2>
    <p>Playing right now: <output>0</output>. In queue: <output>0</output></p>
  </article>
    <article>
      <figure>
        <img src="/static/logo.png" style="filter: invert(100%);">
      </figure>
      <h2><a href="/games/">Bomberman&nbsp;<div class="arrow"></div></a></h2>
      <p>Playing right now: <output>0</output>. In queue: <output>0</output></p>
    </article>
{% endblock %}
