body {
  margin: 0;
  font-family: 'Slabo 27px'
}
#header {
  display: flex;
  align-items: center;
  height: 4em;
  background-color: midnightblue;
  color: white;
  overflow: hidden;
}
#header, #header figure, #header h1, #header nav {
  margin: 0;
}

#header figure {
  padding: 1em;
}
#header figure img {
  width: 50px;
  height: 50px;
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
  padding: 0 1rem 0 0;
}

#header nav a {
  font-family: Roboto;
  padding: 0 0.5rem;
  color: white;
  text-decoration: none
}
#header nav ul li {
    padding: 3px 5px;
    border: 1px solid black;
    display: inline-block;
}

#header nav ul li:hover {
  color: inherit;
}

main {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}

main article figure {
  float: left;
}
main article figure img {
  width: 100px;
  height: 100px;
}

main article p.statitics {
    font-style: italic;
}

main article p.statitics output {
    font-style: normal;
}

.arrow {
  display: inline-block;
  height: 12px;
  width: 15px;
  background-color: black;
  position: relative;
}
.arrow:after {
  width: 0;
  height: 0;
  content: "";
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid black;
  position: absolute;
  left: 100%;
}

.arrow:hover {
  width: 25px;
}

main article h2 a {
  color: black;
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: small;
  font-family: 'Roboto'
}

.form-buttons {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.basic-button {
  background: midnightblue;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 5px;
  min-width: 115px;
  outline: none;
}

.signin-form-container, .signup-form-container, .new-project-form-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    display: none;
    transition: opacity .2s cubic-bezier(0.39, 0.575, 0.565, 1);
    pointer-events: none;
}

.signin-form-container__visible, .signup-form-container__visible, .new-project-form-container__visible {
    z-index: 2;
    opacity: 1;
    display: block;
    pointer-events: auto;
}

.signin-form, .signup-form, .new-project-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4); 
    background: #fff;
    padding: 15px;
}

.new-project-form {
    padding: 20px;
    max-height: 130px;
}

.signin-form {
    max-height: 250px;
}

.signup-form {
    max-height: 300px;
}

.username, .password, .email, .password-confirmation, .project {
    display: flex;
    height: 50px;
    width: 100%;
}

.username input, .password input, .email input, .password-confirmation input, .project input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    pointer-events: auto;
    padding-left: 10px;
}

.project input {
    width: 85%;
}

.username input:focus, .password input:focus, .password-confirmation input:focus {
    /* */
}

.fa-user, .fa-key, .fa-envelope {
    align-self: center;
}
